@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway&display=swap');
  :root {
    --main-dark: #050505;
    --main-light: #f3dfd6;
    font-family: 'Indie Flower', cursive;
    font-family: 'Raleway', sans-serif;
    
  }
  body {
    margin:auto;
    padding:auto;
    font-family:Poppins, sans-serif;
    background-color: var(--main-light);
}

.overheader {
  background-color: #dd9676;
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
}

.overheader-name {
  color: var(--main-dark);
  font-family: 'Raleway', sans-serif;
}

.overheader-links {
  display: flex;
  align-items: center;
  margin-top: 5px;
}