@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway&display=swap');
  :root {
    --main-dark: #050505;
    --main-light: #f3dfd6;
    font-family: 'Indie Flower', cursive;
    font-family: 'Raleway', sans-serif;
    
  }
  body {
    margin:auto;
    padding:auto;
    font-family:Poppins, sans-serif;
    background-color: var(--main-light);
}

.overheader {
  background-color: #dd9676;
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
}

.overheader-name {
  color: var(--main-dark);
  font-family: 'Raleway', sans-serif;
  margin-top:3px;
}

.overheader-links {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.overheader-links a:hover {
  background-color: #dd9676;
}

.container,#home {
  background-color: #ffeae1;
  max-width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left:250px;
  margin-right:250px;
}

a {
  text-decoration: none;
  color: var(--main-dark);
  font-family: 'Indie Flower', cursive;
  font-size: 20px;

}

a:hover {
  background-color: var(--main-light);
  color:black;
}